@model SistemaElecciones.Models.MesasViewModel

<form id="crear" asp-action="Create" method="POST">
    <div class="row">
        
        <div class="form-group">
            <label class="control-label">Encargado</label>
            <select required name="IdUsuario" id="IdUsuario" class="form-select select2">
                    <option value=""></option>
                    @foreach (var mesa in Model.usuarios)
                    {
                        <option value="@mesa.IdUsuario">@Model.usuarios.FirstOrDefault(x=>x.IdUsuario == mesa.IdUsuario).Nombre</option>
                    }
                </select>
        </div>
        <div class="form-group">
            <label class="control-label">Ubicacion</label>
            <select required name="IdUbicacion" id="IdUbicacion" class="form-select select2">
                    <option value=""></option>
                    @foreach (var ubicacion in Model.departamentos)
                    {
                        <option value="@ubicacion.IdDepartamento">@ubicacion.Nombre</option>
                    }
                </select>
        </div>
        <div class="form-group">
            <label class="control-label">Cantidad de votos</label>
                <input required name="CantidadVotos" id="CantidadVotos" class="form-control" />
        </div>
            <div class="form-group">
                <label class="control-label">Numero de mesa</label>
                <input required name="NumMesa" id="NumMesa" class="form-control" />
            </div>
        <div class="form-group">
                <label class="control-label">Numero de folio</label>
                <input required name="NumFolio" id="NumFolio" class="form-control" />
         </div>
    </div>
</form>