body {
    margin: 0;
    padding: 0;
    /*    height:100%;
    width: 100%;*/
    background-color: white;
}

.menu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15%;
    background-color: #283149
}

.logo {
    width: 100px;
}

.logo-container {
    align-content: center;
    text-align: center;
    width: 25%;
    height: 100%;
}

.botones-container {
    text-align: center;
    width: 50%;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 15px;
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 !important;
}

.option-menu {
    color: white;
    text-decoration: none;
}

    .option-menu:hover {
        color: #4EC486;
        text-decoration: none;
    }

.logout{
    padding-top:10px;
    text-align:right;
    width:16.5%;
}

.logout-img {
    height: 30px;
    width: 30px;
}

.logout-img-red {
    height: 30px;
    width: 30px;
    opacity: 0;
}

.logout-btn{
    background-color:transparent;
    border:none;
}

.separador {
    width: 10%;
}
