@model SistemaElecciones.Models.Cargo

<form id="crear" asp-action="Create" method="POST">
    <div class="row">
        <div class="form-group">
            <label class="control-label">Descripcion/Nombre del cargo</label>
            <input required name="Descripcion" id="Descripcion" class="form-control" />
        </div>
    </div>
</form>