@*@model List<SistemaElecciones.Models.Mesa>*@
@*@model SistemaElecciones.Models.MesasViewModel
@using SistemaElecciones.Models*@
@model List<SistemaElecciones.Models.Cargo>

@{
    ViewData["Title"] = "Cargos";
}

<partial name="~/Views/Shared/_modalEdit.cshtml" />
<partial name="~/Views/Shared/_modalCreate.cshtml" />

<div class="card shadow-lg mt-5">
    <div class="card-header bg-ligth">
        <h3 class="h3">Cargos</h3>
    </div>
    <div class="card-body">
        <p>
            <button type="button" class="btn btn-outline-info" onclick="ShowCreateModal()">
                <i class="fa-solid fa-plus fa-bounce"></i>  Agregar un Cargo
            </button>
        </p>
        <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl table-responsive-xxl mt-5">
            <table id="tableCargos" class="table table-striped ">
                <thead class="table-dark">
                    <tr>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cargo in Model.Where(x => x.EstadoEliminado == false))
                    {
                        <tr>
                            <td>@cargo.Descripcion</td>                           
                            <td>
                                <div class="options d-flex ">
                                    @*<button class="option btn btn-outline-info" onclick="ShowEditModal('@candidato.IdCandidato')">Ver datos</button>*@
                                    <form id="eliminarForm" onsubmit="alertElminarPrevent(event)" asp-action="Eliminar" asp-route-id="@cargo.IdCargo">
                                        <button class="option btn btn-outline-info" type="submit">Eliminar</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/js/pages/cargo.js" asp-append-version="true"></script>
}