<form id="crear" asp-action="Create" method="POST">
    <div class="row">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input name="Nombre" id="Nombre" class="form-control" />
            </div>
    </div>
</form>