@model List<SistemaElecciones.Models.Cargo>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Inicio - SE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/pages/home.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid vh-100 vw-100 justify-content-center align-items-center">
        <div class="logo-container mx-auto my-auto justify-content-center align-items-center">
            <img src="~/img/logo_completo_dark.png" style="height:60%" id="logo" alt="Logo">
        </div>
    </div>
    <div class="buttons-container">
        <div class="top-buttons">
            <a class="rounded-button" href="@Url.Action("MesasInfo")">Mesas</a>
            <a class="rounded-button">Candidatos</a>
            <a class="rounded-button">Cargos</a>
        </div>
        <div class="bottom-buttons">
            <a class="rounded-button">Votos</a>
            <a class="rounded-button">Resultados</a>
            <a class="rounded-button">Partidos</a>
        </div>
    </div>
</body>
</html>


