@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login - SE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/pages/login.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid vh-100 vw-100 justify-content-center align-items-center">
        <div class="logo-container mx-auto my-auto justify-content-center align-items-center">
            <img src="~/img/logo_completo_dark.png" style="height:90%" id="logo" alt="Logo">
        </div>
        <div class="buttons-container d-flex flex-column justify-content-center align-items-center">
            <form id="loginForm" onclick="alertPrevent(event)" action="@Url.Action("LogIn")" method="post" class="form text-center">
            <input type="text" id="user" class="mb-3" placeholder="Usuario" name="user" />
            <input type="password" id="password" class="mb-3" placeholder="Contraseña" name="password" />
            <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>

</body>
</html>