@model List<SistemaElecciones.Models.Cargo>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Inicio - SE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/pages/home.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid vh-100 vw-100 justify-content-center align-items-center">
        <div class="logo-container mx-auto my-auto justify-content-center align-items-center">
            <img src="~/img/logo_completo_dark.png" style="height:90%" id="logo" alt="Logo">
        </div>
        <div class="buttons-container d-flex flex-column justify-content-center align-items-center">
            <div class="top-buttons d-flex justify-content-center align-items-center">
                <a class="rounded-button" href="/Mesa">Mesas</a>
                <a class="rounded-button" href="/Candidato">Candidatos</a>
                <a class="rounded-button" href="/Cargo">Cargos</a>
            </div>
            <div class="bottom-buttons d-flex justify-content-center align-items-center">
                <a class="rounded-button" href="/Voto">Votos</a>
                <a class="rounded-button" href="/Resultado">Resultados</a>
                <a class="rounded-button" href="/Partido">Partidos</a>
            </div>
        </div>
    </div>

</body>
</html>


